name: flow
description: A water finding app

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.2
  flutter_svg: ^0.19.1
  google_maps_flutter: ^2.0.1
  location: ^4.1.1
  cloud_firestore: ^1.0.3
  firebase_core: ^1.0.2
  shared_preferences: ^2.0.5
  change_app_package_name: ^1.0.0





dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  uses-material-design: true
  assets:
    - Assets/images/
    - Assets/images/Flow_Icons/
    - Assets/icons/svgs/



  fonts:
    - family: Product Sans
      fonts:
        - asset: Assets/fonts/Product Sans Bold.ttf
        - asset: Assets/fonts/Product Sans Bold Italic.ttf
        - asset: Assets/fonts/Product Sans Italic.ttf
        - asset: Assets/fonts/Product Sans Regular.ttf


